#container .galery{
    margin: auto;
    display: flex;
    flex-direction: column;
}

#container .galery h1{
    font: 600 5rem var(--font), sans-serif;
    color: var(--text);
    margin: auto;
    margin-bottom: 3rem;
}

#container .galery .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

#container .galery .grid img{
    margin: .5rem;

    border-radius: .8rem;

}

@media(max-width: 1024px){

    #container .galery .grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
}