.bgm{
    display: none;
}

main .profile{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    height: 100vh;

}


main .profile img{
    border-radius: 50%;
    width: clamp(15rem, 45rem, 50rem);
    border: 1rem solid var(--ball-border);
}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    
    max-width: 40rem;

    font: 400 2.8rem var(--font), sans-serif;
    color: var(--text);
    font-size: 2rem;
    line-height: 3.4rem;
}

.text h1{
    text-align: center;
    margin: 1.4rem;
}

@media(max-width: 1024px){

    main .profile{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
    }

    main .profile img{
    width: clamp(15rem, 30rem, 50rem);
    margin: 2rem;
    }

    #bg{
        display: none;
    }

    .text{
        margin: auto 3rem;
    }

    .bgm{
        display: block;
        position: fixed;
        z-index: -1;
        height: auto;
        width: 100vw;

        opacity: 70%;
    }

    
}