:root{
    --background: #3587A4;
    --text: #EDFFEC;
    --button-hover: #6aff71;
    --button-bg: #EF476F;
    --border: #61E786;
    --pink: #EF476F;

    --font:'Open Sans';


    font-size: 62.5%
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body,
#container{
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    width: 100%;
    box-sizing: border-box;


}

footer{
    height: 10rem;
}

a{
    text-decoration: none;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

