.modal{
    display: none;
    position: fixed;
    z-index: 3;
    background: rgb(45,132,138);
    background: linear-gradient(0deg, rgba(45,132,138,0.8813900560224089) 0%, rgba(53,135,164,0.458420868347339) 50%, rgba(97,231,134,0.19511554621848737) 100%);
    width: 100vw;
    height: 100vh;
}

.on{
    display: block;
}

.modal_content{
    width: 60%;
    height: 70%;
    background-color: aliceblue;
    margin: 10rem auto;
    border-radius: 1rem;
}

.modal_intern{
    margin: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
}

.modal_intern .test{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_content h1{
    font: 400 4rem var(--font), sans-serif;
    text-align: center;
    padding-top: 2rem;
}

.modal_intern p{
    width: 90%;
    margin: auto;
    font: 400 2rem var(--font), sans-serif;
    text-align: justify;

}

.modal_intern .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_intern .button {
    
    margin: 3rem;
    width: 15rem;
    padding: 1rem;
    border-radius: .8rem;
    background: var(--button-bg);
    font: 400 2rem var(--font), sans-serif;
    color: #fff;
    text-align: center;
}

.modal_intern img{
    width: 50rem;
    border-radius: 1rem;
    margin: auto;
}

@media(max-width: 1024px){
    .modal_content{
        width: 90%;
        height: auto;
        margin: 2rem auto;
    }

    .modal_intern{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 1rem;
        width: 100%;
    }


    .modal_intern img{
        width: 100%;
        margin: auto;
    }

    .modal_intern p{
        font-size: 1.6rem;
    }
}
